<select (change)="pageSizeChanged($event)" [value]="pageSize">
      <option *ngFor="let ps of pageSizeOptions">{{ps}}</option>
  </select>
 
  <br/><br/>

  <table border="1" width="100%">
    <thead>
      <tr>
        <td *ngFor="let col of cols">{{col}}</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of pagedData">
        <td *ngFor="let col of cols">
          {{d[col]}}
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="10">
            <button *ngFor="let pg of pager" (click)="pageChanged(pg)" [class.pagerSelected]="currentPage == pg">{{pg}}</button> 
        </td>
      </tr>
    </tfoot>
  </table>
  
      
  

